.lista{
	text-decoration: none;
	list-style: none;

}


.nav-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: mintcream;
	
}

a{
	color: rgb(200,250, 200);;
}